<div class="col">
	<div class="col-12">

		<p-messages></p-messages>

		<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

		<div class="card">

			<p-table #planFeaturesMasterTable [columns]="planFeatureColumns" [value]="allFeaturesList" [scrollable]="true" scrollHeight="65vh" *ngIf=planFeatureData>

				<ng-template pTemplate="caption">
					<div class="text-left">
						<button pButton type="button" label="Update Plans" (click)="updatePlanFeatures()"></button>
					</div>
				</ng-template>

				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" [ngStyle]="{ 'min-width': col.minWidth, 'max-width': col.maxWidth, 'text-align': col.textAlign }">
							{{ col.header }}
							<span *ngIf="col.header == 'Grantify'">
								<img class="lockIconForFiltersForPlanNFeatures" src="{{ userAuthService?.featureLockIconForValentineOnly }}">
							</span>
						</th>
					</tr>
				</ng-template>
				
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns" [ngStyle]="{ 'min-width': col.minWidth, 'max-width': col.maxWidth, 'text-align': col.textAlign }">
							<span class="p-column-title">{{ col.header }}:</span>
							
							<ng-container *ngIf="col.field == 'featureGroup'">{{ rowData['group'] }}</ng-container>

							<ng-container *ngIf="col.field == 'featureName'">{{ rowData['name'] }}</ng-container>

							<ng-container *ngFor="let planData of planFeatureData">

								<ng-container *ngIf="planData['planName'] == col.header">
									
									<ng-container *ngFor="let planFeature of planData['featuresObject']">
	
										<ng-container *ngIf="planFeature['pageNameDescription'] == rowData['name'] && planFeature['description'] == rowData['group']">
											
											<p-checkbox [(ngModel)]="planFeature['featureEnabled']" binary="true"></p-checkbox>

										</ng-container>
	
									</ng-container>
	
								</ng-container>

							</ng-container>

						</td>
					</tr>
				</ng-template>

			</p-table>

		</div>

	</div>
</div>