<p-messages [value]="msgs"></p-messages>

<p-confirmDialog appendTo="body" styleClass="logoutConfirmationDialogStyling"></p-confirmDialog>

<div class="card">
    <h3 class="text-left font-bold">Company Request</h3>
    <dg-user-list (updateCompanyContactData)="updateCompanyContactData($event)" (rejectCompanyContactData)="rejectCompanyContactData($event)" [listColumns]="selectedColumns" [listDataValues]="userDetailSuggestions" [listPage]="true" [thisPage]="'user-suggestions'"></dg-user-list>
</div>

<div class="card">
    <h3 class="text-left font-bold">Director's Request</h3>
    <dg-user-list (updateDirectorContactData)="updateDirectorContactData($event)" (rejectDirectorContactData)="rejectDirectorContactData($event)" [listColumns]="selectedDirectorColumns" [listDataValues]="directorDetailSuggestions" [listPage]="true" [thisPage]="'user-suggestions'"></dg-user-list>
</div>

<div class="card">
    <h3 class="text-left font-bold">Industry Tag Request</h3>
    <dg-user-list (updateIndustryTagData)="updateIndustryTagData($event)" (rejectIndustryTagData)="rejectIndustryTagData($event)" [listColumns]="industryTagColumn" [listDataValues]="industryTagSuggestion" [listPage]="true" [thisPage]="'user-suggestions'"></dg-user-list>
</div>

<div class="card">
    <h3 class="text-left font-bold">Contact Information Request</h3>
    <dg-user-list (updateContactInfoData)="updateContactInfoData($event)" (rejectContactInfoData)="rejectContactInfoData($event)" [listColumns]="contactInfoDataColumn" [listDataValues]="contactInfoDetailSuggestions" [listPage]="true" [thisPage]="'user-suggestions'"></dg-user-list>
</div>
