<!-- Please Note:: This popup SVG is visble at 'Responsible Procurement Page', 'Stats Page' and 2 places at 'CompanyDetails page'. Any New Change here is reflect all three places. -->

<svg viewBox="0 0 450 215" width="450" height="215" fill="#fff" class="border-round-lg">
    <rect x="0" y="0" width="470" height="43" fill="#6dc470"></rect>
    <rect x="0" y="43" width="470" height="43" fill="#59ba9b"></rect>
    <rect x="0" y="86" width="470" height="43" fill="#ffcc00"></rect>
    <rect x="0" y="129" width="470" height="43" fill="#ee9512"></rect>
    <rect x="0" y="172" width="470" height="43" fill="#e1b12c"></rect>
    <text x="10" y="25" font-weight="bold">Company Type</text><text x="145" y="25" font-weight="bold">No. of Employees</text><text x="285" y="25" font-weight="bold">Turnover</text>                        
    <text x="10" y="75">Micro</text> <text x="145" y="75">1-9</text> <text x="285" y="75">Less than 2 M</text>                        
    <text x="10" y="119">Small</text> <text x="145" y="119">10-49</text> <text x="285" y="119">Less than 10 M</text>                        
    <text x="10" y="160">Medium</text> <text x="145" y="160">50-249</text> <text x="285" y="160">Less than 50 M</text>                        
    <text x="10" y="203">Large Enterprise</text> <text x="145" y="203">Greater than 250</text> <text x="285" y="203">Greater than 50 M</text>
</svg>