<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="grid">
            <div class="col-12 logo">
                <h1 class="p-0 m-0"><img src="assets/layout/images/dg_logo_new.png" alt="DataGardener logo" width="280"></h1>
            </div>
            <div class="col-12">
                <div class="card">
                    <h1>Thank You!</h1>
                    <img src="../../assets/layout/images/tick-gif.gif" style="width: 20%;" alt="Sign Up Confirm">
                    <div class="text-center mb-4"> Plan successfully upgraded and login to access DataGardener account.</div>
                    <div class="text-center pb-4">
                        <button pButton type="button"  [routerLink]="['/authentication/login']" label="Log In" class="p-button-lg p-button-rounded"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>