<div class="login-body">
    <div class="login-panel p-fluid p-input-filled">
        <p-messages [(value)]="msgs"></p-messages>

        <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
            
            <div class="grid">
                
                <div class="col-12 logo">
                    <h1 class="p-0 m-0"><img src="assets/layout/images/dg_logo_new.png" alt="DataGardener logo" width="280"></h1>
                </div>
                
                <div class="col-12 py-0">

                    <div class="card" *ngIf="(!(passwordReset) && tokenStatus!== 201)">
                        
                        <h2 class="resetPasswordLabel">RESET PASSWORD</h2>
    
                        <div class="grid">
    
                            <div class="col-12">

                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-{{ hide ? 'eye-slash' : 'eye' }}" (click)="hide = !hide"></i>
                                    <input [type]="hide ? 'password' : 'text'" pInputText name="password" ngModel required>
                                    <label>New Password</label>
                                </span>
                            </div>
                            <div class="col-12">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-{{ hide2 ? 'eye-slash' : 'eye' }}" (click)="hide2 = !hide2"></i>
                                    <input [type]="hide2 ? 'password' : 'text'" pInputText name="confirm_password" ngModel required>
                                    <label>Confirm Password</label>
                                </span>
                            </div>
                            <div class="col-12" *ngIf="response == 400">
                                <div class="m-0">{{message}}</div>
                            </div>
                            <div class="col-12 pb-0">
                                <button pButton type="submit" label="Submit" class="p-button-lg p-button-rounded" [disabled]="!resetForm.form.valid"></button>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div class="card" *ngIf="passwordReset">
                        <h2>RESET PASSWORD</h2>
    
                        <div class="grid">
    
                            <div class="col-12">
                                <img src="../../assets/layout/images/tick-gif.gif" style="width: 20%;" alt="Sign Up Confirm" *ngIf="response == 200">
                                <div class="p-text-center p-mb-4">
                                    {{message}}
                                    <br><br>
                                    Redirecting to Login Page.                            
                                </div>
                            </div>
                            <div class="col-12 pb-0">
                                <div class="p-text-center pb-4">
                                    <button pButton type="button" [routerLink]="['/authentication/login']" label="Log In" class="p-button-lg p-button-rounded"></button>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div class="card" *ngIf="tokenStatus == 201">
                        <h1>Expired</h1>
                        <i class="pi pi-times-circle pi-5x c-red"></i>
                        <div class="text-center mb-4">This link either does not exist or has expired.</div>
                        <div class="text-center pb-4">
                            <button pButton type="button" [routerLink]="['/authentication/login']" label="Log In" class="p-button-lg p-button-rounded"></button>
                        </div>
                    </div>

                </div>
                
            </div>

        </form>

    </div>
</div>