<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="grid">
            <div class="col-12 logo">
                <h1 class="p-0 m-0"><img src="assets/layout/images/dg_logo_new.png" alt="DataGardener logo" width="280"></h1>
            </div>
            <div class="col-12">
                <div class="card pb-4 px-5">
                    <h1>Thank you for Signing up.</h1>
                    <img src="../../assets/layout/images/tick-gif.gif" style="width: 20%;" alt="Sign Up Confirm">
                    <div class="text-left mt-4 mb-3">We have sent you a link for the email verification.</div>
                    <h6 class="text-left font-bold mt-3 mb-2">What's next:</h6>
                    <ul class="text-left fs-normal pl-0 mt-2 mb-3" style="list-style: decimal; list-style-position: inside;">
                        <li>Go to your mailbox.</li>
                        <li>Check the spam folder once if the email is not there.</li>
                        <li>Click on the link to verify your email address.</li>
                        <li>And that's it, Login to your DataGardener Account.</li>
                    </ul>
                    <div><small class="fs-small"><em>In case of any query, please contact at <a href="mailto:grow@datagardener.com">grow@datagardener.com</a>.</em></small></div>
                </div>
            </div>
        </div>
    </div>
</div>