.featuredLinks {
    a {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;

        & + a {
            margin-left: 5px;
        }
        img, svg, i {
            max-height: 20px;
        }
        i {
            position: relative;
            top: 1.5px;
            color: #23b394;
        }
    }
}

.linkedin {
    fill: #0077b5;
}

.facebook {
    fill: #3b5999;
}

.twitter {
    fill: #1da1f2;
}