<ng-container>

    <p-messages [(value)]="msgs"></p-messages>

    <p-dialog header="Processing" [(visible)]="isProcessing" [modal]="true">
        <p>Please wait while the PDF is being generated...</p>
        <p-progressBar mode="indeterminate" *ngIf="isProcessing"></p-progressBar>
    </p-dialog>
   
    <div class="grid mb-3">

        <p-dialog [draggable]="false" [modal]="true" [header]="'Header Mapping'" [(visible)]="showDialog" [style]="{width: '87vw' }" [maximizable]="true">
            <p-messages [(value)]="msgs"></p-messages>
            <div class="mt-4">
                <div class="c-light mb-2"><small>( *Note : When mapping headers, please ensure that the <strong> "Supplier Name", "Spend Net" and "Date Paid" </strong> fields are included as they are mandatory )</small></div>
                <table class="dynamic-table">
                    <tr>
                        <th *ngFor="let items of headerDropdownNgModel">
                        <div>
                            <p-dropdown [options]="dropdownOptionsArray" name="key" placeholder="Select Header" [filter]="false" appendTo="body" optionLabel="label" optionValue="value" optionDisabled="inactive" [(ngModel)]="items.ngModel" (onChange)="updateInactivityForFinancialKeyDropdown( items )"></p-dropdown>

                        </div>
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let header of headers">{{ header }}</th>
                    </tr>
                    <ng-container *ngFor="let row of columnData">
                        <tr>
                        <td *ngFor="let cell of row">{{ cell }}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
            <ng-template pTemplate="footer">
                <p-button label="Mapping Headers" (onClick)="setHeaders()"></p-button>
            </ng-template>
        </p-dialog>
    
        <div class="col-12 flex justify-content-between align-items-center">
            <div class="flex bg-white pr-3 align-items-center py-1 border-round-xl align-items-center">
                <p-dropdown [options]="diversitySaveList" [(ngModel)]="selectlist" placeholder="Select a List" optionLabel="listName" styleClass="roundedCorners" (onChange)="getDiversityIndexdData( selectlist ); diversitySpendsTableInformation(selectlist)"></p-dropdown>
                <div class="ml-4" addOnAccess="diversityCalculation">
                    <p-fileUpload #fileUploader  mode="basic" chooseLabel="Choose File" name="file[]" accept=".csv" [auto]="true"  (onSelect)="onSelectedFile($event)"></p-fileUpload>
                </div>
            </div>
            <div>
                <button *ngIf="diversitySaveList.length" pButton type="button" label="Download Report" icon="pi pi-file-pdf" class="p-element p-button-rounded mx-3 mb-0 p-button p-button-sm px-3 py-2 border-2" title="Download Report" (click)="downloadReport()"></button>
            </div>
        </div>
    </div>

    <ng-container *ngIf="diversitySaveList.length; else noRecordTemplate">
        
        <div class="grid">
            <div class="col-3 bg-gray-200 py-2 px-3 border-1 border-gray-400 border-round-left-xl">
                <div class="flex gap-1 align-items-center">
                    <h3 class="text-teal-500 font-semibold mb-1 py-2">Segmentation By Ownership</h3>
                </div>
                <div class="grid">
                    <ng-container *ngFor="let data of counts | keyvalue: preventDefaultSort">
                        <ng-container *ngIf="![ 'msdukCertification', 'netZeroTargetCounts', 'ppcCategoryCount', 'modernSlaveryCount', 'vcse_categoryCount', 'genderpayGapReportingCount', 'raceAtWork', 'dataControllersCount', 'nonProfitCount', 'registeredCharitableOrganizationCount', 'communityInterestBusinessCount', 'isGovtDeptsCounts', 'isCouncilCounts', 'isUniversityCounts', 'isOtherCounts', 'livingWageFoundationRegisteredCount' ].includes( data.key )">
                            <div class="col-12">
                                <div class="diversityInclusionCountCards bg-white mr-2" [ngStyle]="{ 'border-left': '2px solid rgb( var( ' + data.value.colorVar + ' ) )', 'border-right': '2px solid rgb( var( ' + data.value.colorVar + ' ) )' }">
                                    <!-- <a href="javascript:void(0);" class="p-d-block" (click)="gotToSearchPage(data, data.value.chipGrp )"> -->
                                        <div class="grid">
                                            <div class="col-3 flex align-items-center p-0">
                                                <img [src]="data.value.imageSource" alt="Supplier Analytics" width="75" height="65">
                                            </div>
                                            <div class="col-9 flex justify-content-center align-items-center flex-column gap-1">
                                                <div pTooltip="Click Info Icon to check details">
                                                    <span class="text-base c-light mr-1">{{ data.value.label }}</span>
                                                    <dg-new-shared-clicked-itag><div class="m-2" [innerHTML]="data.value.infoMsg + ( data?.value?.urlLink || '' )"></div></dg-new-shared-clicked-itag>
                                                </div>
                                                
                                                <div class="flex gap-3">
                                                    <span class="font-bold text-lg cursor-pointer" [ngStyle]="{ 'color': 'rgb( var( ' + data.value.colorVar + ' ) )' }" (click)="gotToSearchPage(data, data.value.chipGrp )">{{ data.value.value | number: '1.0-0' }}</span>   
                                                    <div class="text-base mb-0 font-medium" [ngStyle]="{ 'color': 'rgb( var( ' + data.value.colorVar + ' ) )' }">({{ data.value.totalSpent | currency: 'GBP' : 'symbol' : '1.0-0' }})
                                                        <!-- <span>({{ data.value.percentage | number : '1.0-2' }}%)</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                
            </div>

            <div class="col-3 bg-gray-200 py-2 px-3 border-1 border-gray-400">
                <div class="flex gap-1 align-items-center">
                    <h3 class="text-teal-500 font-semibold mb-1 py-2">Mission Spectrum</h3>
                </div>
                <div class="grid">
                    <ng-container *ngFor="let data of counts | keyvalue: preventDefaultSort">
                        <ng-container *ngIf="['raceAtWork', 'ppcCategoryCount', 'nonProfitCount', 'registeredCharitableOrganizationCount', 'communityInterestBusinessCount'].includes( data.key )">
                            <div class="col-12">
                                <div class="diversityInclusionCountCards bg-white mr-2" [ngStyle]="{ 'border-left': '2px solid rgb( var( ' + data.value.colorVar + ' ) )', 'border-right': '2px solid rgb( var( ' + data.value.colorVar + ' ) )' }">
                                    <!-- <a href="javascript:void(0);" class="p-d-block" (click)="gotToSearchPage(data, data.value.chipGrp )"> -->
                                        <div class="grid">
                                            <div class="col-3 flex align-items-center p-0">
                                                <img [src]="data.value.imageSource" alt="Supplier Analytics" width="75" height="65">
                                            </div>
                                            <div class="col-9 flex justify-content-center align-items-center flex-column gap-1">
                                                <div pTooltip="Click Info Icon to check details">
                                                    <span class="text-base c-light mr-1">{{ data.value.label }}</span>
                                                    <dg-new-shared-clicked-itag><div class="m-2" [innerHTML]="data.value.infoMsg + ( data?.value?.urlLink || '' )"></div></dg-new-shared-clicked-itag>
                                                </div>
                                                
                                                <div class="flex gap-3">
                                                    <span class="font-bold text-lg cursor-pointer" [ngStyle]="{ 'color': 'rgb( var( ' + data.value.colorVar + ' ) )' }" (click)="gotToSearchPage(data, data.value.chipGrp )">{{ data.value.value | number: '1.0-0' }}</span>   
                                                    <div class="text-base mb-0 font-medium" [ngStyle]="{ 'color': 'rgb( var( ' + data.value.colorVar + ' ) )' }">({{ data.value.totalSpent | currency: 'GBP' : 'symbol' : '1.0-0' }})
                                                        <!-- <span>({{ data.value.percentage | number : '1.0-2' }}%)</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>

            <div class="col-3 bg-gray-200 py-2 px-3 border-1 border-gray-400">
                <div class="flex gap-1 align-items-center">
                    <h3 class="text-teal-500 font-semibold mb-1 py-2">Risk Register</h3>
                </div>
                <div class="grid">
                    <ng-container *ngFor="let data of counts | keyvalue: preventDefaultSort">
                        <ng-container *ngIf="[ 'netZeroTargetCounts', 'modernSlaveryCount', 'genderpayGapReportingCount', 'dataControllersCount', 'livingWageFoundationRegisteredCount' ].includes( data.key )">
                            <div class="col-12">
                                <div class="diversityInclusionCountCards bg-white mr-2" [ngStyle]="{ 'border-left': '2px solid rgb( var( ' + data.value.colorVar + ' ) )', 'border-right': '2px solid rgb( var( ' + data.value.colorVar + ' ) )' }">
                                    <!-- <a href="javascript:void(0);" class="p-d-block" (click)="gotToSearchPage(data, data.value.chipGrp )"> -->
                                        <div class="grid">
                                            <div class="col-3 flex align-items-center p-0">
                                                <img [src]="data.value.imageSource" alt="Supplier Analytics" width="75" height="65">
                                            </div>
                                            <div class="col-9 flex justify-content-center align-items-center flex-column gap-1">
                                                <div pTooltip="Click Info Icon to check details">
                                                    <span class="text-base c-light mr-1">{{ data.value.label }}</span>
                                                    <dg-new-shared-clicked-itag><div class="m-2" [innerHTML]="data.value.infoMsg + ( data?.value?.urlLink || '' )"></div></dg-new-shared-clicked-itag>
                                                </div>
                                                
                                                <div class="flex gap-3">
                                                    <span class="font-bold text-lg cursor-pointer" [ngStyle]="{ 'color': 'rgb( var( ' + data.value.colorVar + ' ) )' }" (click)="gotToSearchPage(data, data.value.chipGrp )">{{ data.value.value | number: '1.0-0' }}</span>   
                                                    <div class="text-base mb-0 font-medium" [ngStyle]="{ 'color': 'rgb( var( ' + data.value.colorVar + ' ) )' }">({{ data.value.totalSpent | currency: 'GBP' : 'symbol' : '1.0-0' }})
                                                        <!-- <span>({{ data.value.percentage | number : '1.0-2' }}%)</span> -->
                                                    </div>

                                                    <ng-container *ngIf="['genderpayGapReportingCount', 'modernSlaveryCount', 'livingWageFoundationRegisteredCount' ].includes(data.key)">
                                                        <div class="text-red-600 text-lg font-bold cursor-pointer"  [pTooltip]="'Risk'" (click)="gotToComapnySearch(data.value.preferenceValue, data.value.preferenceOperator )"
                                                        > | {{data.value.riskRegisterCount}}</div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>

            <div class="col-3 bg-gray-200 py-2 px-3 border-1 border-gray-400">
                <div class="flex gap-1 align-items-center">
                    <h3 class="text-teal-500 font-semibold mb-1 py-2">Public Sector Spent</h3>
                </div>
                <div class="grid">
                    <ng-container *ngFor="let data of counts | keyvalue: preventDefaultSort">
                        <ng-container *ngIf="[ 'isGovtDeptsCounts', 'isCouncilCounts', 'isOtherCounts' ].includes( data.key )">
                            <div class="col-12">
                                <div class="diversityInclusionCountCards bg-white border-{{data.value.colorClass}} border-x-2" [ngClass]="{ 'pointer-events-none': !(diversityInclusionData?.['result']?.[data.key]?.['matchedWith'] && diversityInclusionData?.['result']?.[data.key]?.['matchedWith'].length) }">
                                    <!-- <a href="javascript:void(0);" class="p-d-block" (click)="gotToSearchPage( diversityInclusionData?.result?.isGovtDeptsCounts, 'Public Sector Spent' )"> -->
        
                                        <div class="grid">
                                            <p-overlayPanel #govtPopUp styleClass="custom-overlay-panel">
                                                <div class="panel-content">
                                                  <div class="panel-header">{{ data.value?.['label'] }}:</div>
                                                  <ul>
                                                    <li *ngFor="let item of diversityInclusionData?.['result']?.[data.key]?.['matchedWith']">{{ item  | titlecase}}</li>
                                                  </ul>
                                                </div>
                                            </p-overlayPanel>
                                              
                                            <div class="col-3 flex align-items-center p-0" >
                                                <img pTooltip="Click Image icon for info" tooltipPosition="left" (click)="govtPopUp.show($event)" src="{{data.value.imageSource}}" alt="Supplier Analytics" width="75" height="65" class="image-hover-zoom">
                                            </div>
        
                                            <div class="col-9 flex justify-content-center align-items-center flex-column gap-1">
                                                <div>
                                                    <span class="text-base c-light mr-1">{{ data.value?.['label'] }}</span>
                                                    <ng-container *ngIf="data.value?.infoMsg">
                                                        <dg-new-shared-clicked-itag><div class="m-2">{{ data.value.infoMsg }}</div></dg-new-shared-clicked-itag>
                                                    </ng-container>
                                                </div>
        
                                                <div class="flex gap-3">
                                                    <span class="font-bold text-lg text-{{data.value.colorClass}}">{{ diversityInclusionData?.result?.[data.key].doc_count | number: '1.0-0' }}</span> 
                                                    <div class="text-base mb-0 font-medium text-{{data.value.colorClass}}">({{ diversityInclusionData?.result?.[data.key].spendTotal | currency: 'GBP' : 'symbol' : '1.0-0' }})
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                    <!-- </a> -->
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="[ 'isUniversityCounts' ].includes( data.key )">
                            <div class="col-12">
                                <div class="diversityInclusionCountCards bg-white border-{{data.value.colorClass}} border-x-2">
        
                                    <div class="grid">
                                            
                                        <div class="col-3 flex align-items-center p-0" >
                                            <img pTooltip="Click Image icon for info" tooltipPosition="left" src="{{data.value.imageSource}}" alt="Supplier Analytics" width="75" height="65">
                                        </div>
    
                                        <div class="col-9 flex justify-content-center align-items-center flex-column gap-1">
                                            <div>
                                                <span class="text-base c-light mr-1">{{ data.value?.['label'] }}</span>
                                                <ng-container *ngIf="data.value?.infoMsg">
                                                    <dg-new-shared-clicked-itag><div class="m-2">{{ data.value.infoMsg }}</div></dg-new-shared-clicked-itag>
                                                </ng-container>
                                            </div>
    
                                            <div class="flex gap-3">
                                                <span class="font-bold text-lg text-{{data.value.colorClass}} cursor-pointer" [ngClass]="{ 'pointer-events-none': !diversityInclusionData?.result?.isUniversityCounts.doc_count }" (click)="gotToSearchPage( diversityInclusionData?.result?.[data.key], 'Public Sector Spent' )">{{ diversityInclusionData?.result?.[data.key].doc_count | number: '1.0-0' }}</span> 
                                                <div class="text-base mb-0 font-medium text-{{data.value.colorClass}}">({{ diversityInclusionData?.result?.[data.key].spendTotal | currency: 'GBP' : 'symbol' : '1.0-0' }})
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            
        </div>
        
        <div class="grid">
            <div class="col-12">
                <div class="h-full border-round-lg">
                        <div class="grid">
                            <div class="col-6">
                                <h3 class="text-teal-500 font-semibold my-3">Segmentation By Size 
                                    <ng-container *ngIf="routerUrl == 'supplier-analytics'">
                                        <dg-shared-itag-component><div class="m-2">{{'Categorises supplier spend by business size, from micro to large enterprises, offering insights into supplier diversity and economic impact.'}}</div></dg-shared-itag-component>
                                    </ng-container> 
                                </h3>
                                <div class="card">
                                    <dg-shared-graph [chartOptions]="optionForGraph?.['size']" [chartStyles]="{ height: '260px' }" (updateClickInChart)="updateClickInChart( $event, 'MSME Classification' )"></dg-shared-graph>
                                </div>
                            </div>
                            <!-- <ng-container *ngIf="this.userAuthService.hasAddOnPermission('developerFeatures')"> -->
                                <div class="col-6">
                                    <h3 class="text-teal-500 font-semibold my-3">Risk Assessment 
                                        <ng-container *ngIf="routerUrl == 'supplier-analytics'">
                                            <dg-shared-itag-component><div class="m-2">{{'Evaluate supplier risk based on financial and operational factors to ensure a resilient and stable supply chain. Understand how much of your spend is allocated to low, medium, and high-risk suppliers to make informed procurement decisions.'}}</div></dg-shared-itag-component>
                                        </ng-container>
                                    </h3>
                                    <div class="card">
                                        <!-- <dg-shared-echart [dataForGraph]="diversityInclusionData?.result?.internationalScoreDescriptionCounts" [donutChartHeight]="'height: 260px'" [thisPage]="'diversityCalculation'" (updateClickInChart)="updateClickInChart( $event, 'Credit Risk Bands' )" [internationalScoreBgColor]="internationalScoreStatusColor"></dg-shared-echart> -->
                                        <dg-shared-graph [chartOptions]="optionForGraph?.['risk']" [chartStyles]="{ height: '260px' }" (updateClickInChart)="updateClickInChart( $event, 'Credit Risk Bands' )"></dg-shared-graph>
                                    </div>
                                </div>
                            <!-- </ng-container> -->
                        </div>
    
                </div>
            </div>
    
        
        </div>

        <dg-admin-record-list *ngIf="diversityInclusionData" [listId]="globalFilterDataObject.listId" [listColumns]="keyPreparationObj[routerUrl].tableColumns" [listDataValues]="diversityIndexDataValue" [searchTotalCount]="searchTotalCount" [thisPage]="keyPreparationObj[routerUrl].thisPage" (updateTableAfterPagination)="updateTableAfterPagination( $event )" [companyStatusCount]="diversityInclusionData?.result?.companyStatusCounts" [companyTotalCount]="diversityInclusionData.total" [globalFilterDataObject]="globalFilterDataObject" [listName]="globalFilterDataObject.listName"></dg-admin-record-list>

    </ng-container>

</ng-container>

<ng-template #noRecordTemplate>
    <div class="h-5rem bg-white flex flex-column justify-content-center align-items-center mt-5">
        <i class="pi pi-exclamation-circle text-2xl text-gray-400"></i>
        <p class="text-gray-500 mt-2 text-lg">No data found. Please upload a CSV file to proceed.</p>
    </div>
</ng-template>