<!-- <div>
    <h2 class="text-center">
        <img src="../../../../assets/layout/images/ri_sparkling_black.png" alt="AI Icon" style="width: 32px; height: 32px; vertical-align: middle; margin-right: 8px;">
        Ask our AI anything
    </h2>
</div> -->

<h2 class="text-center ai-animated">
    <img src="../../../../assets/layout/images/ri_sparkling_header.png"
         alt="AI Icon"
         style="width: 28px; height: 28px; vertical-align: middle; margin-right: 10px;"
         class="ai-icon" />
    <span class="ai-text">Ask our AI anything</span>
</h2>

