<!-- Login Modal Dialog Start -->
<p-dialog styleClass="loginDialogModal" [modal]="true" [(visible)]="showLoginDialog" [baseZIndex]="999999998" appendTo="body" [focusOnShow]="false">
	<dg-login></dg-login>
</p-dialog>
<!-- Login Modal Dialog End -->

<!-- CBF Export Dialog Start -->
<p-dialog header="EXPORT{{cbfExportMessage}} CSV" [modal]="true" [(visible)]="csvDialog" [style]="{width: '35vw'}" [draggable]="false" [focusOnShow]="false">
	<div class="text-center">
		<p>{{exportCSVDialogMessage}}</p>
	</div>

	<p-footer>
		<div class="text-center">
			<button pButton *ngIf="cbfExportMessage.length > 0 && exportCondition" class="p-button-rounded"
				(click)="exportAllCBF()" type="button" label="Yes"></button>

			<button pButton class="p-button-rounded darkGrey" *ngIf="exportCondition" type="button" (click)="closeExportDialog()"
				label="No"></button>

			<button pButton *ngIf="!exportCondition" type="button" class="p-button-rounded darkGrey" (click)="csvDialog=false" label="Close"></button>

		</div>
	</p-footer>

</p-dialog>
<!-- CBF Export Dialog End -->

<button pButton type="button" label="Export CBF" icon="ui-icon-insert-drive-file" class="p-button-rounded p-button-sm mr-2 hideBlockForMobileView mb-xxl-2" [disabled]=" thisPage == 'companySearch' && searchTotalCount == 0 " (click)="exportCbfLimitCheck()" title="Export all companies from the list"></button>