::ng-deep {
	.customDialogButtonSwap {
		&.p-dialog {
			&.p-confirm-dialog {
				.p-dialog-footer {
					display: flex;
					justify-content: center;

					.p-confirm-dialog-reject {
						border-radius: 50px;
						order: 1;
					}

					.p-confirm-dialog-accept {
						border-radius: 50px;
					}
				}
			}
		}
	}
}