.head {
    .intro {
        background: #666;
        border: 1px solid #ddd;
        border-left: 3px solid #f2334c;
        color: rgb(255, 255, 255);
        font-size: 15px;
        max-width: 100%;
    }
    pre {
        background: #666;
        border: 1px solid #ddd;
        border-left: 3px solid #f2334c;
        color: rgb(255, 255, 255);
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
      }

      .prefix {
        color: #7ec699;
        font-size: 85%;
        margin-right: 10px;
      }
}

.json {
    pre {
        background: #f4f4f4;
        border: 1px solid #ddd;
        border-left: 3px solid #f2334c;
        color: #666;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
      }
}