<!-- <div class="col"> -->

		<h3 class="ml-2">Basic Searches</h3>
		<div class="grid card">
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/VKba7qfa9_E?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How to Search - By Company Name</div>
				</div>
			</div>
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/4jyFGFn5nK0?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Search - By Company Number</div>
				</div>
			</div>
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/Mm8NSe24ZdQ?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Find Out More About A Company</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/ahzNH7bSIk8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Video Tutorials</div>
				</div>
			</div>
		
		</div>

<!-- </div> -->

<!-- <div class="col"> -->

		<h3 class="ml-2">Advanced Searches</h3>
		<div class="grid card">
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/aTJsxjs1Lao?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How to Search - For Companies In A Specific Location</div>
				</div>
			</div>
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/xTyMbxl95XM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Filter - By Industry</div>
				</div>
			</div>
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/JpQZERj6D8A?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How to Filter - By Key Financials</div>
				</div>
			</div>
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/p7J6mqNHZgU?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How to Search - Advanced Financial Filters</div>
				</div>
			</div>
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/VwAJrNpzjqU?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Search - By Last Filed Accounts</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/kwZHrOJvWEU?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Search - Charge Registered Date</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/PFE1nMTjYTM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Find - Fast Growing Companies From The Last Three Years</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/sPwVNSklWkE?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Contact Prospects</div>
		
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/FOdnCHJjcco?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>Targeting Companies That Own Land</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/3UxkeN0LeXo?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>Which companies in the UK are showing signs of distress?</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/61Psl87g4H8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>Advanced Searches - General Marketing and Prospecting High Growth Companies</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/kfQIGFwB3UE?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>Credit and Risk Professionals - Manage Risk and Grow Faster with DataGardener</div>
				</div>
			</div>
		
		</div>

<!-- </div> -->

<!-- <div class="col"> -->

		<h3 class="ml-2">Company Monitoring</h3>
		<div class="grid card">
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/W7QzKVuGOL8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Monitor A Company or Director</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/L4-Ggu_MSQ8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Put A Company On Watch</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/dRiQywe8UIs?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Download - Full Company Report</div>
				</div>
			</div>
		
			<div class="col-4 sm-6 md-4">
				<div>
					<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/F0PHdPPE8Q4?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div>How To Download - Full Credit Report</div>
				</div>
			</div>
		</div>

<!-- </div> -->

<!-- <div class="col"> -->

		<h3 class="ml-2">Interview</h3>
		<div class="grid card">
			<div class="col-4 sm-6 md-4">
				<iframe class="dgVideoWindowSize" src="https://www.youtube.com/embed/3A9gDLiY-8w?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div>DataGardener Interview With Letsasi</div>
			</div>
		</div>

<!-- </div> -->