<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="grid">
            <div class="col-12 logo">
                <h1 class="p-0 m-0"><img src="assets/layout/images/dg_logo_new.png" alt="DataGardener logo" width="280"></h1>
            </div>
            <div class="col-12">
                <div class="card pb-4 px-5">
                    <h1>Subscription Inactivate</h1>
                    <h6>Your Subscription has expired. Please contact at <a href="mailto:grow@datagardener.com">grow@datagardener.com</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>
