<div class="login-body">
    <div class="login-panel p-fluid p-input-filled">
        <form #forgotPassword="ngForm" (ngSubmit)="sendResetPasswordLink(forgotPassword)">
            <div class="grid">

                <div class="col-12 logo">
                    <h1 class="p-0 m-0"><img src="assets/layout/images/dg_logo_new.png" alt="DataGardener logo" width="280"></h1>
                </div>
                
                <div class="col-12 py-0">
                    <div class="card">
                        <h2>FORGOT PASSWORD</h2>
                        
                        <div class="grid">
    
                            <ng-container *ngIf="!(mailSent)">
                                <div class="col-12">
                                    <span class="p-float-label">
                                        <input pInputText type="email" class="form-control" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$" ngModel>
                                        <label class="control-label" for="email">Email Address</label>
                                    </span>
                                </div>
                                <div class="col-12 m-0" *ngIf="status == 400">
                                    <div class="m-0"><i *ngIf="status == 400" class="pi pi-times-circle" style="color: #b00020;"></i>{{message}}</div>
                                </div>
                                <div class="col-12">
                                    <button pButton type="submit" label="Send" class="p-button-rounded p-button-lg"></button>
                                </div>
                            </ng-container>
                            
                            <ng-container *ngIf="(mailSent)">
                                <div class="col-12" *ngIf="status === 200">
                                    <!-- <img src="../../assets/layout/images/tick-gif.gif" style="width: 20%;" alt="Sign Up Confirm"> -->
                                    <div class="text-center p-mb-4"> {{message}}</div>
                                </div>
                                <div class="col-12">
                                    <span>Link is valid for 24 hours only. Please check your inbox and junk folder as well.</span>
                                </div>
                            </ng-container>
    
                        </div>
    
                    </div>
                </div>
            </div>
        </form>
    </div>
</div><p>forgot-password works!</p>
