<div class="grid">

    <!-- <div class="col-12">
        <dg-stats-filter-options [totalRecords]="mapDataObj?.['total']" (payloadHandler)="getPayloadFromChild($event)" ></dg-stats-filter-options>
    </div> -->

    <div class="col-4 smallScreen">
        <div class="card h-30rem">
            <dg-map-analysis [mapData]="mapDataObj" [selectedFilter]="selectedFilter" [globalFilterDataObject]="globalFilterDataObject" showMapCheckbox="true" mapId="'growthMap'"></dg-map-analysis>
        </div>
    </div>
    <div class="col-4 smallScreen">
        <div class="card h-30rem">
            <dg-risk-details [riskData]="mapDataObj?.['riskChartArray']" [selectedFilter]="selectedFilter"></dg-risk-details>
        </div>
    </div>
    <div class="col-4 smallScreen">
        <div class="card h-30rem">
            <dg-employees-segments [employeesData]="mapDataObj?.['noOfEmployeesArray']" [selectedFilter]="selectedFilter"></dg-employees-segments>
        </div>
    </div>

    <div *ngIf="mapDataObj?.['yearly_employees']" class="col-4 pt-0 smallScreen">
        <div class="card h-full">
            <dg-shared-trend-analysis-component [header]="'Annual Workforce Insights'" [graphType]="'lineGraph'" [trendsData]="graphTrendsHandler['employees']" >
                Tracks yearly changes in workforce size to assess employment patterns.
            </dg-shared-trend-analysis-component>
        </div>
    </div>
    <div  *ngIf="mapDataObj?.['yearly_turnover']" class="col-4 pt-0 smallScreen">
        <div class="card h-full">
            <dg-shared-trend-analysis-component [header]="'Annual Revenue Insights'" [graphType]="'lineGraph'" [trendsData]="graphTrendsHandler['turnover']" >
                Visualises annual turnover to highlight financial performance trends over time.
            </dg-shared-trend-analysis-component>
        </div>
    </div>
    <div *ngIf="mapDataObj?.['yearly_new_registered_company']" class="col-4 pt-0 smallScreen">
        <div class="card h-full">
            <dg-shared-trend-analysis-component [header]="'Annual Company Registration Trends'" [graphType]="'lineGraph'" [trendsData]="graphTrendsHandler['newCompany']" >
                Charts the yearly number of newly registered companies, indicating business growth patterns.
            </dg-shared-trend-analysis-component>
        </div>
    </div>
    
    <div *ngIf="mapDataObj?.['turnoverGrowth1YearInfo'] && mapDataObj?.['turnoverGrowth3YearsInfo'] && mapDataObj?.['turnoverGrowth5YearsInfo'] && selectedFilter" class="col-12 pt-0">
        <div class="card h-full">
            <dg-financial-details  [selectedFilter]="selectedFilter" [growthData]="{ '1yearGrowth':  mapDataObj?.['turnoverGrowth1YearInfo'], '3yearGrowth':  mapDataObj?.['turnoverGrowth3YearsInfo'], '5yearGrowth':  mapDataObj?.['turnoverGrowth5YearsInfo'] }"></dg-financial-details>
        </div>
    </div>

</div>