<!-- Add New Team Modal Dialog Start -->

<p-dialog header="Add New Team" [(visible)]="addNewTeamModalDialog" [modal]="true" appendTo="body" [baseZIndex]="9999998" [draggable]="false" [resizable]="false" [style]="{ width: '100%', maxWidth: '400px' }" (onHide)="closeAddNewTeamModalDialog( addNewTeamNgForm )">
	<form #addNewTeamNgForm="ngForm" (ngSubmit)="addNewTeam()" class="p-fluid p-input-filled">
		<div class="p-float-label">
			<input pInputText type="text" name="name" #name="ngModel" [(ngModel)]="addNewTeamFormData.name" (keyup)="checkIfTeamAlreadyExists( addNewTeamFormData.name )" required> 
			<label for="name">Team Name</label>
			<div *ngIf="name.invalid && (name.dirty || name.touched)" style="color: red;float: left;font-size: small;">
				<div *ngIf="name.errors.required">Team Name is required.</div>
			</div>
			<div *ngIf="checkIfTeamAlreadyExistsBoolean" style="color: red;float: left;font-size: small;">
				Team already exist.
			</div>
		</div>
		<div class="mt-4 text-center">
			<button pButton type="submit" label="Save" class="p-button-rounded p-button-inline"></button>
			<button pButton type="button" label="Cancel" class="p-button-rounded p-button-inline p-button-secondary" (click)="closeAddNewTeamModalDialog( addNewTeamNgForm )"></button>
		</div>
	</form>
</p-dialog>

<!-- Add New Team Modal Dialog End -->

<div class="col">
	<div class="col-12">

		<p-messages [key]="thisPage"></p-messages>

		<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

		<div class="card">

			<p-table #teamFeaturesMasterTable [columns]="allTeamFeaturesListColumns" [value]="teamFeaturesList" [scrollable]="true" scrollHeight="65vh" *ngIf="allTeamFeaturesListData" [(selection)]="selectedData">

				<ng-template pTemplate="caption">

					<div class="grid">
						<div class="col-fixed">
							<button pButton type="button" label="Add New Team" icon="ui-icon-plus" class="p-button-rounded p-button-sm p-button-inline" [disabled]="userDetailsInput && userDetailsInput?.userRole !== 'Client Admin Master' && !userAuthService.hasRolePermission( ['Client Admin'] )" (click)="addNewTeamModalDialog = true"></button>
						</div>
						<div class="col-fixed ml-auto">
							<button pButton type="button" label="Update Team{{ allTeamFeaturesListColumns?.length > 3 ? 's' : '' }}" icon="ui-icon-update" class="p-button-rounded p-button-sm p-button-inline" [disabled]="allTeamFeaturesListData && !allTeamFeaturesListData.length" (click)="updateTeamFeatures()"></button>
						</div>
					</div>

				</ng-template>

				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" [ngStyle]="{ 'min-width': col.minWidth, 'max-width': col.maxWidth, 'text-align' : [ 'featureGroup', 'featureName' ].includes( col.field ) ? 'left' : 'center' }">
							{{ col.header | titlecase }}
							<span class="ml-2">
								<p-checkbox *ngIf="![ 'featureGroup', 'featureName' ].includes( col.field )" [(ngModel)]="col.selectAllCheckBox" binary="true" (onChange)="selectAllTeamFeatures( $event, col.header )"></p-checkbox>
							</span>
						</th>
					</tr>
				</ng-template>
				
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns" [ngStyle]="{ 'min-width': col.minWidth, 'max-width': col.maxWidth, 'text-align': col.textAlign }">

							<ng-container *ngIf="col.field == 'featureGroup'">{{ rowData['group'] }}</ng-container>

							<ng-container *ngIf="col.field == 'featureName'">{{ rowData['name'] }}</ng-container>

							<ng-container *ngFor="let teamData of allTeamFeaturesListData">

								<ng-container *ngIf="teamData['description'] == col.header">
									
									<ng-container *ngFor="let teamFeature of teamData['featuresArray']">
	
										<ng-container *ngIf="teamFeature['pageNameDescription'] == rowData['name'] && teamFeature['description'] == rowData['group']">
										
											<p-checkbox [(ngModel)]="teamFeature['featureEnabled']" binary="true" [disabled]="startPlanFeatures.includes( teamFeature['_id'] )" (onChange)="checkIfAllFeaturesEnabled()"></p-checkbox>

										</ng-container>
	
									</ng-container>
	
								</ng-container>

							</ng-container>

						</td>
					</tr>
				</ng-template>

				<ng-template pTemplate="emptymessage" let-columns>
					<tr>
						<td [attr.colspan]="columns?.length">No records found.</td>
					</tr>
				</ng-template>

			</p-table>

		</div>

	</div>
</div>