.riskPieChartLegends {
    .roundedColoredChipLabel {
        min-width: 215px;
        color: white;
        border-radius: 8px;
        padding: 0.3rem 0.6rem;
        margin-right: 0;
        cursor: pointer;

        * {
            user-select: none;
            pointer-events: none;
        }

        &.notScoredLegendBg {
            background-color: #D92727;
        }

        &.highRiskLegendBg {
            background-color: #E4790F;
        }

        &.moderateRiskLegendBg {
            background-color: #FFC201;
        }

        &.lowRiskLegendBg {
            background-color: #59BA9B;
        }

        &.veryLowRiskLegendBg {
            background-color: #6DC470;
        }

        &.unkownLegendBg {
            background-color: #b4b4b4;
        }
    }
}

.card {
    box-shadow: none;

    .furloughDataTable {
        text-align: left;

    }

    table {
        width: 100%;
        font-size: 1em;
        border-spacing: 0;
        border: 1px solid #e4e4e4;

        tr {
            th {
                border-bottom: 1px solid #e4e4e4;
            }

            &:not( :last-child) {

                th,
                td {
                    border-bottom: 1px solid #e4e4e4;
                }
            }

            th,
            td {
                padding: 5px 8px;

                &:not( :last-child) {
                    border-right: 1px solid #e4e4e4;
                }
            }

            td {
                font-size: 0.9em;
            }
        }
    }

    &.selectedStatsCriteria {
        height: calc(100vh - 215px);
        font-size: 0.82rem;
        overflow-y: auto;

        ::ng-deep {

            @media only screen and (min-width: 1024px) {
                position: sticky;
                top: 6.5em;
            }

            .chipGroup {
                display: block;
                background-color: #fff;
                padding: 0.3em 0.5em;
                margin: 0 0.5em 0.5em 0;
                border: 1px solid #bbb;
                border-radius: 0.4rem;
                position: relative;

                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;

                &:hover {
                    box-shadow: none;
                }

                p {
                    margin: 0 0 0.2em 0;
                }

                .chipValue {
                    display: inline-block;
                    background-color: var(--primary-color);
                    font-size: 0.9em;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #fff;
                    text-transform: capitalize;
                    vertical-align: top;
                    border-radius: 4px;
                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
                    padding: 0.3em 0.5em;
                    margin-right: 0.3em;
                    margin-bottom: 0.3em;

                    position: relative;
                    overflow: hidden;

                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -ms-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                }
            }

        }
    }

    .dataValue {
        font-weight: 100;
        color: #444;
    }

}

.newGradient{
    background-image: linear-gradient(99deg, rgba(188, 188, 188, 0.02) 0%, rgba(188, 188, 188, 0.02) 12.5%,rgba(86, 86, 86, 0.02) 12.5%, rgba(86, 86, 86, 0.02) 25%,rgba(221, 221, 221, 0.02) 25%, rgba(221, 221, 221, 0.02) 37.5%,rgba(159, 159, 159, 0.02) 37.5%, rgba(159, 159, 159, 0.02) 50%,rgba(159, 159, 159, 0.02) 50%, rgba(159, 159, 159, 0.02) 62.5%,rgba(86, 86, 86, 0.02) 62.5%, rgba(86, 86, 86, 0.02) 75%,rgba(241, 241, 241, 0.02) 75%, rgba(241, 241, 241, 0.02) 87.5%,rgba(46, 46, 46, 0.02) 87.5%, rgba(46, 46, 46, 0.02) 100%),linear-gradient(285deg, rgba(179, 179, 179, 0.02) 0%, rgba(179, 179, 179, 0.02) 25%,rgba(69, 69, 69, 0.02) 25%, rgba(69, 69, 69, 0.02) 50%,rgba(76, 76, 76, 0.02) 50%, rgba(76, 76, 76, 0.02) 75%,rgba(199, 199, 199, 0.02) 75%, rgba(199, 199, 199, 0.02) 100%),linear-gradient(76deg, rgba(143, 143, 143, 0.01) 0%, rgba(143, 143, 143, 0.01) 12.5%,rgba(116, 116, 116, 0.01) 12.5%, rgba(116, 116, 116, 0.01) 25%,rgba(118, 118, 118, 0.01) 25%, rgba(118, 118, 118, 0.01) 37.5%,rgba(183, 183, 183, 0.01) 37.5%, rgba(183, 183, 183, 0.01) 50%,rgba(196, 196, 196, 0.01) 50%, rgba(196, 196, 196, 0.01) 62.5%,rgba(235, 235, 235, 0.01) 62.5%, rgba(235, 235, 235, 0.01) 75%,rgba(194, 194, 194, 0.01) 75%, rgba(194, 194, 194, 0.01) 87.5%,rgba(86, 86, 86, 0.01) 87.5%, rgba(86, 86, 86, 0.01) 100%),linear-gradient(28deg, rgba(238, 238, 238, 0.03) 0%, rgba(238, 238, 238, 0.03) 16.667%,rgba(243, 243, 243, 0.03) 16.667%, rgba(243, 243, 243, 0.03) 33.334%,rgba(201, 201, 201, 0.03) 33.334%, rgba(201, 201, 201, 0.03) 50.001000000000005%,rgba(129, 129, 129, 0.03) 50.001%, rgba(129, 129, 129, 0.03) 66.668%,rgba(40, 40, 40, 0.03) 66.668%, rgba(40, 40, 40, 0.03) 83.33500000000001%,rgba(97, 97, 97, 0.03) 83.335%, rgba(97, 97, 97, 0.03) 100.002%),linear-gradient(290deg, rgba(241, 241, 241, 0.02) 0%, rgba(241, 241, 241, 0.02) 20%,rgba(86, 86, 86, 0.02) 20%, rgba(86, 86, 86, 0.02) 40%,rgba(128, 128, 128, 0.02) 40%, rgba(128, 128, 128, 0.02) 60%,rgba(83, 83, 83, 0.02) 60%, rgba(83, 83, 83, 0.02) 80%,rgba(81, 81, 81, 0.02) 80%, rgba(81, 81, 81, 0.02) 100%),linear-gradient(0deg, rgba(159, 159, 159, 0.01) 0%, rgba(159, 159, 159, 0.01) 12.5%,rgba(131, 131, 131, 0.01) 12.5%, rgba(131, 131, 131, 0.01) 25%,rgba(249, 249, 249, 0.01) 25%, rgba(249, 249, 249, 0.01) 37.5%,rgba(156, 156, 156, 0.01) 37.5%, rgba(156, 156, 156, 0.01) 50%,rgba(145, 145, 145, 0.01) 50%, rgba(145, 145, 145, 0.01) 62.5%,rgba(149, 149, 149, 0.01) 62.5%, rgba(149, 149, 149, 0.01) 75%,rgba(144, 144, 144, 0.01) 75%, rgba(144, 144, 144, 0.01) 87.5%,rgba(170, 170, 170, 0.01) 87.5%, rgba(170, 170, 170, 0.01) 100%),linear-gradient(195deg, rgba(109, 109, 109, 0.03) 0%, rgba(109, 109, 109, 0.03) 12.5%,rgba(254, 254, 254, 0.03) 12.5%, rgba(254, 254, 254, 0.03) 25%,rgba(121, 121, 121, 0.03) 25%, rgba(121, 121, 121, 0.03) 37.5%,rgba(221, 221, 221, 0.03) 37.5%, rgba(221, 221, 221, 0.03) 50%,rgba(229, 229, 229, 0.03) 50%, rgba(229, 229, 229, 0.03) 62.5%,rgba(225, 225, 225, 0.03) 62.5%, rgba(225, 225, 225, 0.03) 75%,rgba(79, 79, 79, 0.03) 75%, rgba(79, 79, 79, 0.03) 87.5%,rgba(200, 200, 200, 0.03) 87.5%, rgba(200, 200, 200, 0.03) 100%),linear-gradient(318deg, rgba(177, 177, 177, 0.02) 0%, rgba(177, 177, 177, 0.02) 25%,rgba(83, 83, 83, 0.02) 25%, rgba(83, 83, 83, 0.02) 50%,rgba(184, 184, 184, 0.02) 50%, rgba(184, 184, 184, 0.02) 75%,rgba(191, 191, 191, 0.02) 75%, rgba(191, 191, 191, 0.02) 100%),linear-gradient(90deg, rgb(45, 133, 170),rgb(198, 199, 93));
}

.goToElementContainer {
	box-shadow: 10px 10px 30px 0px rgb(0 0 0 / 20%);
	// margin: 1.5rem;
	padding: 1rem;
	background: var(--primary-color);
	color: #fff;
	align-items: center;
	border-radius: 8px;
	position: sticky;
	top: 4.6rem;
	z-index: 10;

	.columns {
		background: #fff;
		border-radius: 10px;
		padding: 0.3rem 0.5rem;
	}
}

*.disabled {
	opacity: 0.35;
	background-image: none;
	cursor: auto !important;
	-webkit-pointer-events: none;
	pointer-events: none;
}