<p-messages [value]="msgs"></p-messages>

<!-- Update Contact Information Data Dialog Starts -->
<p-dialog header="Update Info" [(visible)]="showOrHideContactInfoModal" [modal]="true" [baseZIndex]="999999998" appendTo="body" [focusOnShow]="false" [draggable]="false" [style]="{ width: '55vw', 'overflow-y': 'auto' }">
	<form>
		<div class="grid p-fluid">
			<div class="col-12 md:col-4 lg:col-4">
				<div class="p-inputgroup my-2">
					<span class="p-inputgroup-addon"><i class="material-icons">mail</i></span>
					<input type="text" pInputText placeholder="Email" [(ngModel)]="contactInformationObj.directorEmail" [ngModelOptions]="{standalone: true}" [style]="{width: '100%'}">
				</div>
			</div>
            <div class="col-12 md:col-4 lg:col-4">
                <div class="p-inputgroup my-2">
                    <span class="p-inputgroup-addon"><i class="material-icons">person</i></span>
                    <input type="text" pInputText placeholder="Position" [(ngModel)]="contactInformationObj.directorJobTitle" [ngModelOptions]="{standalone: true}" [style]="{width: '100%'}">
                </div>
            </div>
            <div class="col-12 md:col-4 lg:col-4">
                <div class="p-inputgroup my-2">
                    <svg class="p-inputgroup-addon svg-fill-grey" style="width: 43px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M417.2 64H96.8C79.3 64 64 76.6 64 93.9V415c0 17.4 15.3 32.9 32.8 32.9h320.3c17.6 0 30.8-15.6 30.8-32.9V93.9C448 76.6 434.7 64 417.2 64zM183 384h-55V213h55v171zm-25.6-197h-.4c-17.6 0-29-13.1-29-29.5 0-16.7 11.7-29.5 29.7-29.5s29 12.7 29.4 29.5c0 16.4-11.4 29.5-29.7 29.5zM384 384h-55v-93.5c0-22.4-8-37.7-27.9-37.7-15.2 0-24.2 10.3-28.2 20.3-1.5 3.6-1.9 8.5-1.9 13.5V384h-55V213h55v23.8c8-11.4 20.5-27.8 49.6-27.8 36.1 0 63.4 23.8 63.4 75.1V384z" />
                    </svg>
                    <input type="text" pInputText placeholder="Linked In" [(ngModel)]="contactInformationObj.directorLinkedin" [ngModelOptions]="{standalone: true}" [style]="{width: '100%'}">
                </div>
            </div>
		</div>
	
		<div class="text-center mt-3 md:mt-2">
			<button pButton type="button" label="Submit" class="p-button-rounded" (click)="onContactInformationUpdate()"></button>
		</div>
	</form>
</p-dialog>
<!-- Update Contact Information Data Dialog Ends -->

<!-- <ng-container *ngIf="isLoggedIn; else withoutLogin"> -->
<span [ngClass]="{'card': !isLoggedIn}" loginAccessModal>
    <ng-container>
        <dg-user-list [listColumns]="dataProviderInfoColumns" [listDataValues]="dataProviderInfo" [listPage]="true" [thisPage]="'personContactInfo'" [companyNumberForContactInfo]="companyNumber" [companyNameForContactInfo]="companyName" (showModalDialogForContact)="showModalDialogForContact( $event )">
        </dg-user-list>
    </ng-container>

    <ng-template #showUpgradePlanBlock>
        <p-card>
            <ng-container *ngIf="userAuthService.hasRolePermission( ['Client User'] ); else otherThanClientUserLoggedIn">
                <div class="card text-center">
                    To enable this feature, please contact your Administrator.
                </div>
            </ng-container>
            <ng-template #otherThanClientUserLoggedIn>
                <dg-upgrade-plan [currentPlan]="currentPlan"></dg-upgrade-plan>
            </ng-template>
        </p-card>
    </ng-template>

</span>
<!-- </ng-container> -->
<!-- 
<ng-template #withoutLogin>
	<p-card>
		<dg-without-login-modal *ngIf="!isLoggedIn"></dg-without-login-modal>
	</p-card>
</ng-template> -->