<ng-container *ngIf="subscribedPlanModal['Valentine_Special'].includes( currentPlan ); else otherPlansCheck">
    <div class="card text-center">
		<dg-upgrade-plan [currentPlan]="currentPlan"></dg-upgrade-plan>
	</div>
</ng-container>
<ng-template #otherPlansCheck>
    <div [ngClass]="{'card': !isLoggedIn}" loginAccessModal>
        
        <dg-financial-table-data [CAGRdata]="CAGRdata" [showRatiosTableInput]="true" [requiredCompanyName]="companyData?.businessName" *ngIf="CAGRdata"></dg-financial-table-data>

    </div>

    <!-- <ng-template #withoutLogin>
        <p-card>
            <dg-without-login-modal *ngIf="!isLoggedIn"></dg-without-login-modal>
        </p-card>
    </ng-template> -->

</ng-template>    

