.businessValuationCard {
    .card.onlyLinesAround {
        min-height: 94.4%;

        .cardTitle {
            margin: 0 0 20px;
            padding: 0 0 10px;
            border-bottom: 1px solid #d2d2d2;
        }
    }
}