@media only screen and (min-width: 768px) and (max-width: 768px) {
    
    ::ng-deep {

        .forPreviewButton {
            display: block !important;
        }

        .p-dialog-content {
            padding: 0;
            background: transparent;
            
            @media only screen and ( min-width: 768px ) and ( max-width: 768px ) {
    
                overflow-y: hidden !important;
            }
        }

        .p-dialog .p-dialog-header-icon {
            top: 100px;
        }
    }

}