.card {
	.card-body-p {
		padding: 0.5rem !important;
	}

	.card-body {
		padding: 1.3rem !important;
	}
}

.box-shadow-none {
	box-shadow: none !important;
}

.cardPlaceholderIcons {
	text-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
	font-size: 4.5rem !important;
	color: #2a8ce1;
}

.countFontSize {
	font-size: 2.5rem !important;
	color: #000 !important;
}

.servicesColor {
	background-color: #29b6f6;
}

.productsColor {
	background-color: #3a9b10;
}

.worksColor {
	background-color: #26a69a;
}

.unknownColor {
	background-color: #7c7c7c;

}