::ng-deep {
    .p-dialog {

        .p-dialog-header {
            display: flex;
            justify-content: center;

            .p-dialog-header-icons {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        .p-dialog-footer {
            text-align: center;
        }
    } 

    @media only screen and (max-width: 992px) {
        div.card-pt-ForMobileView {
            margin-top: 0px !important;
        }
    }
}

.two-fa-container {
    // max-width: 500px;
    padding: 1.5rem;
    background: #e3e1f7;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}