.groupStructureTreeWrapper {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    flex-direction: column;

    @media only screen and ( max-width: 767px ) {
        min-height: 0;
    }

    p-tree {
        margin-top: auto;
        margin-bottom: auto;
        
        .highlightCurrentCompanyNode {        
            &:before {
                content: '';
                display: block;
                background-color: #fff266;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border-radius: 3px;
                pointer-events: none;
                user-select: none;
                @media only screen and (max-width:1024px){
                    border-radius: 12px;
                }
            }
    
            * {
                position: relative;
                z-index: 1;
            }
        }
        ::ng-deep {
            .p-tree {
                
                .p-treenode-content {
                    position: relative;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    min-width: 320px;
                    background-color: #fff;
    
                    @media only screen and (max-width: 1024px) {
                        min-width: 220px;
                        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
                        font-size: 14px;
                        border-radius: 12px;
                        padding: 0.8em;
                    }
                    @media only screen and (max-width: 991px) {
                        font-size: 0.75em;
                    }
                    
                    &.p-treenode-selectable {
                        &:not(.p-hightlight) {
                            &:hover {
                                border: 1px solid #bdbdbd;
                            }
                        }
                    }
                    &:hover {
                        background-color: #e8e8e8 !important;
                    }
                    &:focus{
                        @media only screen and (max-width: 1024px) {
                            outline: none;
                        }
                    }
                    
                    .p-treenode-label,
                    .p-treenode-label:hover {
                        flex: 1;
                        white-space: normal;
                        background-color: inherit;
                        padding-right: 2em;
    
                        h4 {
                            line-height: 1.3;
                            -webkit-pointer-events: none;
                            pointer-events: none;
                        }
                        a {
                            .material-icons {
                                vertical-align: middle;
                        
                                @media only screen and (max-width: 991px) {
                                    margin-top: -1px;
                                }
                            }
                        }
                    }
    
                    .p-tree-toggler,
                    .p-treenode-icon {
                        vertical-align: top;
                    }
                    
                    .p-tree-toggler {
                        position: absolute;
                        right: 0;
                        z-index: 1;
    
                        @media only screen and (max-width: 991px) {
                            right: 7px;
                        }
                    }
    
                    .companyLinkFixed {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                   
                }
               
                .p-treenode-children {
                    @media only screen and (max-width:1024px) {
                        padding-left: 0;
                    }
    
                }
            }
        }
        
        &.p-vertical-layout {
            ::ng-deep {
                .p-tree {
    
                    @media only screen and (max-width: 767px) {
                        padding: 0;
                    }
    
                    .p-treenode-content {
    
                        @media only screen and (max-width: 1024px) {
                            margin: 15px 0;
                        }
    
                        &::before {
                            @media only screen and (max-width: 1024px) {
                                content: "";
                                border-left: 1px solid #000;
                                position: absolute;
                                left: 50%;
                                top: 0;
                                transform: translateY(-100%);
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.x-big-data-font {
    font-size: 20px !important;
    font-weight: 400;
}